.auth-form {
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  gap: 1rem;
}
button[mat-raised-button][type="submit"] {
  align-self: center;
  min-width: 120px;
  width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
}
h2 {
  text-align: center;
}
.error {
  color: red;
  font-size: 0.875rem;
}
.switch {
  text-align: center;
  margin-top: 1rem;
}
.logo-container {
  width: 100%;
  text-align: center;
  margin-top: 1rem; /* laisse un peu d’espace sous la barre (si jamais elle reste), ou juste pour le visuel */
}
.logo-mobile {
  max-width: 200px;
  width: 50%;
  cursor: pointer;
}
.back-btn {
  position: absolute; 
  top: 4rem;
  left: 1.5rem;
  color: #2e2151;
  background: transparent;
  box-shadow: none;

  mat-icon {
    font-size: 1.5rem;
  }

  &:hover {
    background: rgba(123, 75, 255, 0.1);
  }
}
@media (max-width: 768px) {
  .mobile-only { display: block; }
}
@media (min-width: 769px) {
  .mobile-only { display: none; }
}
