<div class="articles-page">
  <div class="header">
    <h1>Articles</h1>
    <button mat-flat-button color="accent" routerLink="/articles/new">
      Créer un article
    </button>
  </div>

  <div class="articles-container">
    <mat-card
      *ngFor="let a of articles"
      class="article-card"
      routerLink="/articles/{{ a.id }}"
    >
      <mat-card-header>
        <mat-card-title>{{ a.title }}</mat-card-title>
<mat-card-subtitle>
  {{ a.createdAt | date:'short' }} — Auteur : {{ a.authorId }}
</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ a.content | slice:0:120 }}…
      </mat-card-content>
    </mat-card>
  </div>
</div>
