<mat-toolbar color="primary">

  <img src="/assets/logo_p6.png" alt="MDD" class="logo" (click)="goHome()" />

  <span class="spacer"></span>

  <nav class="desktop-menu">
    <button mat-button routerLink="/articles">Articles</button>
    <button mat-button routerLink="/topics">Thèmes</button>
    <button mat-button (click)="logout()">Se déconnecter</button>
<button mat-icon-button routerLink="/me">
  <mat-icon>person</mat-icon>
</button>
  </nav>

  <button mat-icon-button class="mobile-menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="mobile-drawer">
  <mat-drawer #drawer mode="over" position="end">
    <button mat-list-item routerLink="/articles">Articles</button>
    <button mat-list-item routerLink="/topics">Thèmes</button>
    <button mat-list-item (click)="logout()">Se déconnecter</button>
    <button mat-icon-button routerLink="/me">
  <mat-icon>person</mat-icon>
</button>
  </mat-drawer>
</mat-drawer-container>
