  <div class="mobile-only logo-container">
  <img src="/assets/logo_p6.png" alt="MDD Logo" class="logo-mobile" />
</div>
  
  <button mat-icon-button class="back-btn" (click)="goBack()" aria-label="Retour">
  <mat-icon>arrow_back</mat-icon>
  </button>

<form [formGroup]="loginForm" (ngSubmit)="submit()" class="auth-form">
  
  <h2>Se connecter</h2>

  <mat-form-field appearance="fill">
    <mat-label>Email ou nom d'utilisateur</mat-label>
    <input matInput formControlName="identifier" />
    <mat-error *ngIf="loginForm.get('identifier')?.hasError('required')">
      Ce champ est requis
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      Mot de passe requis
    </mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
      Minimum 8 caractères
    </mat-error>
  </mat-form-field>

  <div class="error" *ngIf="error">{{ error }}</div>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
    Connexion
  </button>

  <p class="switch">
    Pas encore inscrit ? <a routerLink="/register">Créer un compte</a>
  </p>
</form>
